.cabeçalho{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Dancing Script', cursive;
}

body{
    font-family: 'Poppins',sans-serif;
}
.cabeçalho {
    background-color: #D3D3D3;
    color: rgb(243, 33, 6);
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 24px 0;
}

.cabeçalho-img{
    width: 500%;
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}








.charmed-div-conteudo{
    width: 40%;
}
.charmed-titulo{
    padding: 24px 0;
}

.area-de-lazer-imagem{
    width: 300px;
}























.rodape{
    display: grid;
    align-items: center;
    grid-template-columns: 20% 20% 20% 20% 20%;

}

